@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

#nameForm{
  display: block;
  margin: auto;
}

#wrapper{
  margin: auto;
  display: none;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 900px;
  min-width: 600px;
}

.pagetitle{
  font-size: 20px;
  grid-area: 1 / 2 / 2 / 9;
  text-align: center;
}



.hand-selection-1{
  grid-area: 2 / 2 / 3 / 3;
}

.hand-selection-2{
  grid-area: 4 / 2 / 5 / 3;
}

.hand-selection-3{
  grid-area: 6 / 2 / 7 / 3;
}

.hand-selection-1 img{
  width: 100px;
  height: 100px;
  opacity: 0.3;
}
.hand-selection-2 img{
  width: 100px;
  height: 100px;
  opacity: 0.3;
}
.hand-selection-3 img{
  width: 100px;
  height: 100px;
  opacity: 0.3;
}

.hand-selection-1 img:hover{
  opacity: 1 !important; /* I need to put important otherwise JS overrides this */
}
.hand-selection-2 img:hover{
  opacity: 1 !important; /* I need to put important otherwise JS overrides this */
}
.hand-selection-3 img:hover{
  opacity: 1 !important; /* I need to put important otherwise JS overrides this */
}

.playersHand, .computersHand{
  text-align: center;
  width: 200px;
  height: 200px;
  align-self: center;
  border: 1px solid;
}

.playersHand{
  /* background-color: rgb(220, 255, 220); */
  grid-area: 3 / 4 / 6 / 6;
}

.computersHand{
  /* background-color: rgb(255, 220, 220); */
  grid-area: 3 / 7 / 6 / 9;
}

#playersHandImg, #computersHandImg{
  width: 200px;
  height: 200px;
}

#gameText{
  grid-area: 6 / 4 / 7 / 9;
  text-align: center;
  font-size: 40px;
}

hr {
  width: 700px;
}

form {
  text-align: center;
  font-size: 40px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: 600 18px 'Ubuntu', sans-serif;

}

button {
  padding: 10px 20px;
  border: none;
  background-color: #e07a5f;
  font: 600 18px 'Ubuntu', sans-serif;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b46049;
}